/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2018, 9:40:55
    Author     : Luis Criado
*/
html,body{
    background-color: #76aef7;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.container{
    margin-left: 20%;
    background-color: white;
    margin-right: 20%;
    height: 100%;
    margin-top: 0%;
    padding-top: 1%;
 
}
.cabecera{
    background-color: #ff8888;
   
    margin: 0%;
    width: 100%;
    margin-top: 0px;
    color: white;
   
}
#companyName{
   font-size: 17vh; 
   color: #FFD90F;
   text-align: left;
   display: inline-block;
   
}
div{
    margin: 0px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}
img.companyLogo{
    width: 65%;
    height: 65%;
}
.companyLogo{
  width: auto;
    height: auto;
     display: inline-block;
}
form{
    margin-top: 5%;
    margin-left: 30%;
}
table{
    margin-top: 2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
    
    background-color: #aaaaFF;
    margin-left: 20%;
}
td{
   
    padding: 2.5em 2.5em;
}
tr{
    border-bottom-color: black;
    border-bottom: 1;
}
tr:hover{
    background-color: #FFFFEE;
}
th{
    font-size: large;
    background-color: #FFFFCC;
}
